body, html
{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    margin: 0;
    padding: 0;
    background-color: #2E2E2E;
}
#container2
{
    width: 50%;
    height: 400px;
    margin: 0 auto;
}
#inlogstuk
{
    margin-top: 20%;
    background-color: #424242;
    width: 99%;
    height: 100%;
    border-width: 1px;
    border: solid;
}
#texten
{
    float: left;
    width: 45%;
    padding-top: 15%;
    padding-left: 5%;
}
#butterino
{
    width: 100px;
}
.picture
{
    height: 200px;
    width: 200px;
}
#pic
{
    float: left;
    padding-top: 12%;
    padding-left: 12%;
    width: 38%;
}
p
{
    color: #848484;
}