@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <H1>Welkom bij Spoofify!</H1>
    <br />
    <p>Voor verdere acties, klik op een van de tabs links in het menu.</p>
    <br />
    <p>Voor je vrienden, klik op een van de tabs rechts in het menu.</p>
</div>

<div class="row">

</div>